<footer>
    <div class="footer">
        <div class="row expanded">
            <div class="columns small-3">
                <a href="" class="logo">
                    <img src="images/logo.png" alt="">
                    <span>Project X</span>
                </a>
                <p>
                    Наш онлайн магазин работает </br> ради своих клинтов.
                </p>
            </div>
            <div class="columns large-3">
                <ul class="ft__menu">
                    <li>
                        <a href="">Отзывы</a>
                    </li>
                    <li>
                        <a href="">Поддержка</a>
                    </li>
                    <li>
                        <a href="">Сотрудничество</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="columns large-3">
                <p class="title-menu">Контакты:</p>
                <ul class="ft__menu">
                    <li>
                        <p>
                            Azelean Limited </br>
                            Flat 5 </br>
                            6 Ladock Green 
                        </p>
                        <a href="mailto:support@projectX.com" class="email">support@projectX.com</a>
                    </li>
                </ul>
                </ul>
            </div>
            <div class="columns large-3">
                <p class="title-menu">Способы оплаты:</p>
                <ul class="ft__menu-social">
                    <li>
                        <div class="wrp-img">
                            <img src="images/mastercard.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="wrp-img">
                            <img src="images/visa.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="wrp-img">
                            <img src="images/kiwi.svg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="wrp-img">
                            <img src="images/webmoney.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="footer-b">
        <div class="row expanded">
            <div class="columns large-12">
                <div class="copyright">
                    <ul class="menu__social">
                        <li>
                            <a href="">
                                <img src="images/skype.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/telegram.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/vk.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/discord.png" alt="Discord">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/instagram.svg" alt="">
                            </a>
                        </li>                
                    </ul>
                    <p>© 2020 ProjectX. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>