<header class="header">
    <div class="row expanded large-collapse">
        <div class="columns large-3">
            <a href="" class="logo">
                <img src="images/logo.png" alt="">
                <span>Project X</span>
            </a>
        </div>
        <div class="columns large-5 large-offset-1">
            <nav class="menu">
                <ul class="menu__list">
                    <li>
                        <a href="">Главная</a>
                    </li>
                    <li>
                        <a href="">Отзывы</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">Поддержка</a>
                    </li>
                    <li>
                        <a href="">Сотрудничество</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="columns large-3">
            <ul class="menu__social">
                <li>
                    <a href="">
                        <img src="images/skype.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="images/telegram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="images/vk.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="images/discord.png" alt="Discord">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="images/instagram.svg" alt="">
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</header>